*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "DynaPuff", system-ui;
}

body {
	background: url("../assets/images/bg-space.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #ffffff1c;
	backdrop-filter: blur(2px);
}

nav {
	background-color: rgb(4, 70, 85);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 10px;
	position: relative;
	z-index: 10;
	color: white;
}

.right-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#logo {
	display: flex;
	align-items: center;
	gap: 4px;
}

#logo span {
	font-family: "Caveat", cursive;
	letter-spacing: 1.3px;
	font-weight: 700;
	font-size: 1.2rem;
}

.score-container {
	display: flex;
	color: white;
	justify-content: space-between;
	gap: 3px;
	padding: 6px 10px;
	position: relative;
	z-index: 10;
	font-size: 12px;
}

main {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	gap: 20px;
}

.container {
	position: relative;
	z-index: 10;
	background-color: rgba(240, 248, 255, 0.648);
	border-radius: 5px;
	width: 90vmin;
	height: 80vmin;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.mobile-controls {
	position: relative;
	z-index: 10;
	height: 120px;
	width: 140px;
	display: flex;
	justify-content: center;
}

.m-control {
	width: 30px;
	height: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.top {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.snake-head {
	width: 100%;
	height: 100%;
	background: radial-gradient(
		circle,
		rgb(187, 232, 187),
		rgb(52, 196, 52),
		rgb(4, 68, 4)
	);
	border-radius: 5px;
}
.snake-body {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgb(164, 164, 255), #0c8865);
	border-radius: 5px;
}

.food {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgb(247, 164, 255), #880c27);
	border-radius: 20px;
}

/* instructions  style*/

#instructions-container {
	width: 100%;
	height: 100%;
	background-color: #0c886576;
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
	visibility: hidden;
}

#instructions {
	width: 80vw;
	min-height: 70vh;
	background: linear-gradient(
		to bottom right,
		rgb(17, 91, 17),
		rgb(38, 47, 47)
	);
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	align-items: center;
	padding: 40px 10px;
	color: white;
}

#i-title {
	font-size: 20px;
	letter-spacing: 1.4px;
}

.rules p {
	margin: 10px 5px;
	font-size: 14px;
	color: rgb(224, 224, 224);
	line-height: 20px;
}

.rules p.last {
	margin-top: 30px;
	color: white;
}

.rules h4 {
	font-family: "Caveat", cursive;
	margin: 10px 0;
	font-size: 24px;
}

button.start {
	width: 90%;
	margin: 10px auto;
	padding: 4px 10px;
	border-radius: 4px;
	border: 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	font-family: "DynaPuff", system-ui;
}

.key {
	padding: 2px 4px;
	margin: 3px;
	border-radius: 3px;
	background-color: rgb(182, 182, 182);
	color: black;
	font-family: "Caprasimo", serif;
}

#i-close {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -10px;
	right: -10px;
	background-color: #ffe4e4;
	border-radius: 16px;
	padding: 4px;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* SETTINGS CONTAINER STYLES */

#settings-container {
	width: 100vw;
	height: 100vh;
	background: url("../assets/images/bg-space.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 40;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings {
	width: 350px;
	height: 70vh;
	padding: 20px 10px;
	border-radius: 10px;
	margin: 20px auto;
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	border: 8px solid rgb(180, 69, 69);
	box-shadow: 0px 5px 35px #7e7e7e8f;
}

.title {
	position: absolute;
	top: -30px;
	background-color: rgb(50, 207, 235);
	padding: 10px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 4px solid rgb(180, 69, 69);
}

#settings_close {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -16px;
	right: -15px;
	background-color: rgb(144, 144, 144);
	border-radius: 24px;
	padding: 2px;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-box {
	margin: 10px 0;
	padding: 10px;
	/* background-color: azure; */
}

.btn {
	width: 46%;
	padding: 6px 4px;
	margin: 10px 4px;
	border-radius: 4px;
	background-color: rgb(137, 138, 137);
	border: 2px solid black;
	color: white;
	cursor: pointer;
}

.active {
	background-color: rgb(47, 156, 47);
}

.inputLabel {
	user-select: none;
}

.speed-btn-group {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 520px) {
	#instructions {
		width: 450px;
		height: 550px;
		padding: 40px;
	}

	#i-title {
		letter-spacing: 1.4px;
	}

	.rules p {
		font-size: 16px;
		color: rgb(224, 224, 224);
		line-height: 30px;
	}

	.rules h4 {
		font-family: "Caveat", cursive;
		margin: 10px 0;
		font-size: 24px;
	}

	.key {
		padding: 2px 4px;
		margin: 0 3px;
		border-radius: 3px;
		background-color: rgb(182, 182, 182);
		color: black;
		font-family: "Caprasimo", serif;
	}

	button.start {
		padding: 10px;
		font-size: 18px;
	}

	main {
		flex-direction: row;
		padding: 0 10px;
	}
	.container {
		width: 85vmin;
	}
	.score-container {
		flex-direction: column;
		align-items: flex-end;
		color: white;
		gap: 3px;
		padding: 6px 20px;
		position: relative;
		z-index: 10;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1.2px;
	}
}
